/* You can add global styles to this file, and also import other style files */
@use "material-symbols";

/* Import for custom material theme */
@use "./theme" as *;

/* import tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Über CSS-Variablen können das Material Theme beliebig angepasst werden. Die Variablen können über einen Theme-Builder erstellt werden: https://themes.angular-material.dev/ */
:root {
  --mat-sidenav-container-width: auto;
  /*Color*/
  --sys-background: #ffffff;
  --sys-on-background: #333333;
  --sys-surface: #ffffff;
  --sys-surface-dim: #efefef;
  --sys-surface-bright: #ffffff;
  --sys-surface-container-lowest: #ffffff;
  --sys-surface-container-low: #ffffff;
  --sys-surface-container: #ffffff;
  --sys-surface-container-high: #e8e7ee;
  --sys-surface-container-highest: #e2e2e9;
  --sys-on-surface: #333333;
  --sys-surface-variant: #d8e3f4;
  --sys-on-surface-variant: #24447a;
  --sys-inverse-surface: #24447a;
  --sys-inverse-on-surface: #ffffff;
  --sys-outline: #24447a;
  --sys-outline-variant: #24447a;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #24447a;
  --sys-primary: #24447a;
  --sys-on-primary: #ffffff;
  --sys-primary-container: #24447a;
  --sys-on-primary-container: #ffffff;
  --sys-inverse-primary: #000;
  --sys-secondary: #a1b4d3;
  --sys-on-secondary: #24447a;
  --sys-secondary-container: #d8e3f4;
  --sys-on-secondary-container: #24447a;
  --sys-tertiary: #fcb305;
  --sys-on-tertiary: #ffffff;
  --sys-tertiary-container: #ffe19b;
  --sys-on-tertiary-container: #000000;
  --sys-error: #ce0000;
  --sys-on-error: #ffffff;
  --sys-error-container: #ffb7b7;
  --sys-on-error-container: #ce0000;
  --sys-neutral: #c5cad2;
  --sys-neutral-variant: #e9ebee;
  --sys-primary-fixed: #ff0000;
  --sys-primary-fixed-dim: #d8e3f4;
  --sys-on-primary-fixed: #24447a;
  --sys-on-primary-fixed-variant: #24447a;
  --sys-secondary-fixed: #d8e3f4;
  --sys-secondary-fixed-dim: #d8e3f4;
  --sys-on-secondary-fixed: #24447a;
  --sys-on-secondary-fixed-variant: #24447a;
  --sys-tertiary-fixed: #ffe19b;
  --sys-tertiary-fixed-dim: #ffe19b;
  --sys-on-tertiary-fixed: #000000;
  --sys-on-tertiary-fixed-variant: #000000;
  --sys-inverse-secondary: #adc7ff;
  --sys-inverse-tertiary: #ffe19b;
  --sys-inverse-error: #ffb4ab;
  --sys-error-fixed: #ffdad5;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #3b0907;
  --sys-on-error-fixed-variant: #73342d;
  /*Typographie*/
  --sys-body-large: 400 1rem / 1.5rem Roboto, sans-serif;
  --sys-body-large-font: Roboto, sans-serif;
  --sys-body-large-line-height: 1.5rem;
  --sys-body-large-size: 1rem;
  --sys-body-large-tracking: 0.031rem;
  --sys-body-large-weight: 400;
  --sys-body-medium: 400 0.875rem / 1.25rem Roboto, sans-serif;
  --sys-body-medium-font: Roboto, sans-serif;
  --sys-body-medium-line-height: 1.25rem;
  --sys-body-medium-size: 0.875rem;
  --sys-body-medium-tracking: 0.016rem;
  --sys-body-medium-weight: 400;
  --sys-body-small: 400 0.75rem / 1rem Roboto, sans-serif;
  --sys-body-small-font: Roboto, sans-serif;
  --sys-body-small-line-height: 1rem;
  --sys-body-small-size: 0.75rem;
  --sys-body-small-tracking: 0.025rem;
  --sys-body-small-weight: 400;
  --sys-display-large: 300 2rem / 4rem Roboto, sans-serif;
  --sys-display-large-font: Roboto, sans-serif;
  --sys-display-large-line-height: 4rem;
  --sys-display-large-size: 3.562rem;
  --sys-display-large-tracking: -0.016rem;
  --sys-display-large-weight: 400;
  --sys-display-medium: 400 2.812rem / 3.25rem Roboto, sans-serif;
  --sys-display-medium-font: Roboto, sans-serif;
  --sys-display-medium-line-height: 3.25rem;
  --sys-display-medium-size: 2.812rem;
  --sys-display-medium-tracking: 0;
  --sys-display-medium-weight: 400;
  --sys-display-small: 400 2.25rem / 2.75rem Roboto, sans-serif;
  --sys-display-small-font: Roboto, sans-serif;
  --sys-display-small-line-height: 2.75rem;
  --sys-display-small-size: 2.25rem;
  --sys-display-small-tracking: 0;
  --sys-display-small-weight: 400;
  --sys-headline-large: 400 2rem / 2.5rem Roboto, sans-serif;
  --sys-headline-large-font: Roboto, sans-serif;
  --sys-headline-large-line-height: 2.5rem;
  --sys-headline-large-size: 2rem;
  --sys-headline-large-tracking: 0;
  --sys-headline-large-weight: 400;
  --sys-headline-medium: 400 1.75rem / 2.25rem Roboto, sans-serif;
  --sys-headline-medium-font: Roboto, sans-serif;
  --sys-headline-medium-line-height: 2.25rem;
  --sys-headline-medium-size: 1.75rem;
  --sys-headline-medium-tracking: 0;
  --sys-headline-medium-weight: 400;
  --sys-headline-small: 400 1.5rem / 2rem Roboto, sans-serif;
  --sys-headline-small-font: Roboto, sans-serif;
  --sys-headline-small-line-height: 2rem;
  --sys-headline-small-size: 1.5rem;
  --sys-headline-small-tracking: 0;
  --sys-headline-small-weight: 400;
  --sys-label-large: 500 0.875rem / 1.25rem Roboto, sans-serif;
  --sys-label-large-font: Roboto, sans-serif;
  --sys-label-large-line-height: 1.25rem;
  --sys-label-large-size:
        /*0.875rem*/ 1rem;
  --sys-label-large-tracking: 0.006rem;
  --sys-label-large-weight: 400;
  --sys-label-large-weight-prominent: 700;
  --sys-label-medium: 500 0.75rem / 1rem Roboto, sans-serif;
  --sys-label-medium-font: Roboto, sans-serif;
  --sys-label-medium-line-height: 1rem;
  --sys-label-medium-size: 0.75rem;
  --sys-label-medium-tracking: 0.031rem;
  --sys-label-medium-weight: 500;
  --sys-label-medium-weight-prominent: 700;
  --sys-label-small: 500 0.688rem / 1rem Roboto, sans-serif;
  --sys-label-small-font: Roboto, sans-serif;
  --sys-label-small-line-height: 1rem;
  --sys-label-small-size: 0.688rem;
  --sys-label-small-tracking: 0.031rem;
  --sys-label-small-weight: 500;
  --sys-title-large: 400 1.375rem / 1.75rem Roboto, sans-serif;
  --sys-title-large-font: Roboto, sans-serif;
  --sys-title-large-line-height: 1.75rem;
  --sys-title-large-size: 1.375rem;
  --sys-title-large-tracking: 0;
  --sys-title-large-weight: 400;
  --sys-title-medium: 500 1rem / 1.5rem Roboto, sans-serif;
  --sys-title-medium-font: Roboto, sans-serif;
  --sys-title-medium-line-height: 1.5rem;
  --sys-title-medium-size: 1rem;
  --sys-title-medium-tracking: 0.009rem;
  --sys-title-medium-weight: 500;
  --sys-title-small: 500 0.875rem / 1.25rem Roboto, sans-serif;
  --sys-title-small-font: Roboto, sans-serif;
  --sys-title-small-line-height: 1.25rem;
  --sys-title-small-size: 0.875rem;
  --sys-title-small-tracking: 0.006rem;
  --sys-title-small-weight: 500;
  /*Coontainer*/
  --mdc-fab-container-elevation-shadow:
    0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 6px 0px rgba(0, 0, 0, 0.14),
    0px 1px 6px 0px rgba(0, 0, 0, 0.12);

  /**Custom sys var**/
  /*Color*/
  --side-menu-surface: var(--sys-neutral-variant);
  --mat-mdc-card: var(--sys-neutral-variant);
  --divider-card: var(--sys-neutral);
  --hover-color: #a1b4d322;
  --table-header: #a1b4d311;
  --cockpit-sidebar-button: rgb(245 245 244);
  /*Typographie*/
  --sys-title-large: 500 1.3rem / 1.75rem Roboto, sans-serif;
  --tab-menu-objects-title: var(--sys-title-large);
  --mat-tab-header-label-text-size: var(--sys-title-medium-size);
}

/* Float Label fix - tailwind + angular material combination breaks the float label css*/

/***Allgemeines***/
*,
::before,
::after {
  border-style: none;
}

html,
body {
  height: 100%;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  padding-top: 5px;
}

.col {
  flex: 1;
}

.link-button {
  color: #24447a;
  text-decoration-line: underline;
  background-color: #ffffff00;
  cursor: pointer;
  text-align: start;
}

.link-button:hover {
  color: #24447a;
  text-decoration-line: underline;
  background-color: #a1b4d333;
  cursor: pointer;
  text-align: start;
}

/***Basislayout***/
.duva-content-height {
  height: calc(100vh - 4rem);
}

.app-logo {
  padding-top: 0.5rem;
}

/***Startseiten***/

.app-start-headline {
  font-weight: 300 !important;
  font-size: 1.6rem;
  padding-bottom: 1.7rem;
}

/***Tabelle***/
th {
  background-color: var(--table-header) !important;
}

td > button.mat-mdc-button {
  font-size: var(--sys-body-medium-size) !important;
  left: -0.875rem;
}

/***Buttons***/
button.mat-icon-button {
  background-color: #ff0000 !important;
  padding-left: 300px !important;
}

/***Seitenmenü***/
.side-menu {
  background-color: var(--side-menu-surface) !important;
}

app-side-menu .menubutton-active {
  background-color: var(--cockpit-sidebar-button) !important;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

/***Tab-Menü für Metadatenobjekte***/
.tab-menu-objects {
  background-color: var(--side-menu-surface) !important;
}

mat-tab-group.tab-menu-objects-tab > mat-tab-header > div.mat-mdc-tab-label-container {
  border-bottom-style: none !important;
}

.tab-menu-objects-title {
  font: var(--tab-menu-objects-title);
  color: #999999;
  justify-content: left !important;
}

.tab-menu-objects-tab .mat-mdc-tab {
  font-size: 1.25rem !important;
  font-weight: 500;
}

.tab-menu-objects-tab .mdc-tab__text-label {
  top: 2px;
  position: relative;
}

.mat-grid-tile:first-child > .mat-grid-tile-content {
  font: var(--tab-menu-objects-title);
  justify-content: left !important;
  padding: 0 2.5rem 0 2.5rem;
}

/***Kopfzeile***/
.mat-toolbar {
  border-bottom: 1px solid #c5cad2 !important;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  padding: 0 16px !important;
}

/***Card Einzelansicht der Metadatenobjekte - Tab-Menü***/
.mat-mdc-card-header.tab-header-forms {
  padding: 0 0 1rem 1.5rem !important;
}

.tab-header-forms-button {
  padding: 0 !important;
  justify-content: flex-start !important;
}

.tab-header-forms-title {
  padding: 1rem 0 0 3rem !important;
}

.mat-mdc-card {
  border-width: 1px !important;
  border-color:
        /*var(--mat-mdc-card)*/ #999999 !important;
}

.mat-mdc-card-title {
  font-weight: 700 !important;
  font-size: 1.4rem !important;
}

.mat-mdc-card-title-medium {
  font-weight: 400 !important;
  font-size: 1.4rem !important;
}

.mat-mdc-card-title-light {
  font-weight: 300 !important;
  font-size: 1.4rem !important;
}

.mat-divider-horizontal {
  margin: 0 0 1.5rem 0 !important;
  border-color: var(--divider-card) !important;
}

.tab-menu-objects-tab .mdc-tab {
  height: 58px !important;
  padding: 0 3rem !important;
}

.mat-mdc-card-content .mat-mdc-tab-header {
  margin-bottom: 2rem;
}

/***Allgemeines für Tabs***/
.mdc-tab--active {
  /*background-color: var(--sys-surface-variant) !important;*/
  background-color: var(--hover-color) !important;
}

.mdc-tab:hover {
  color: #24447a !important;
  background-color: var(--hover-color);
  cursor: pointer;
  text-align: start;
}

.mat-mdc-tab:hover .mdc-tab__text-label {
  color: var(--sys-primary) !important;
}

.mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: var(--sys-primary);
}

.mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-top-width: var(--mdc-tab-indicator-active-indicator-height);
}

/***Komponente TableHeaderMenu***/
.table-header-menu-label-selection {
  top: -5px;
  position: relative;
  font-weight: 500;
  margin-left: 2rem;
}

fieldset {
  margin-bottom: 20px;
  padding: 20px;
  border: solid 1px black;
}